/*button,button[type=button],button[type=submit],button[type=reset]{
	color: #000;
	-moz-box-shadow: 0px 0px 3px silver;
	-webkit-box-shadow: 0px 0px 1px silver;
	border-shadow: 0px 0px 1px silver;
	font-size: 10px;
}*/